setuptools==72.1.0
wheel==0.44.0
protobuf==4.25.3
# tensorboard==2.17.0
tb-nightly==2.18.0a20240808
tensorboardx==2.6.2.2
pandas==2.2.2
fastapi[all]==0.112.0
uvicorn==0.30.5
jinja2==3.1.4
pytest==8.3.2
matplotlib==3.9.1
plotly==5.23.0
python-dotenv==1.0.1
networkx==3.3
requests==2.32.3
ansi2html==1.9.2
gunicorn==22.0.0
geopy==2.4.1
cryptography==43.0.0
pyOpenSSL==24.2.1
pycryptodome==3.20.0
pyinstrument==4.7.2
cffi==1.17.0
web3==6.20.0
aiosqlite==0.20.0
docker==7.1.0
# aim==3.22.0