setuptools==69.5.1
wheel==0.43.0
protobuf==4.25.3
tensorboard==2.16.2
tensorboardx==2.6.2.2
pandas==2.2.2
flask==3.0.3
flask-socketio==5.3.6
eventlet==0.36.1
pytest==8.2.0
matplotlib==3.8.4
plotly==5.22.0
python-dotenv==1.0.1
networkx==3.3
requests==2.31.0
ansi2html==1.9.1
gunicorn==22.0.0
geopy==2.4.1
cryptography==42.0.7
pyOpenSSL==24.1.0
pycryptodome==3.20.0
pyinstrument==4.6.2
cffi==1.16.0
web3==6.15.1