# pip install --upgrade --force-reinstall -r requirements.txt
python-dotenv==1.0.1
requests==2.32.3
docker==7.1.0
web3==6.20.0
matplotlib==3.9.1
networkx==3.3
psutil==6.0.0
pycryptodome==3.20.0
cryptography==43.0.0
nvidia-ml-py==12.555.43